.modal {
  @apply opacity-0 justify-center flex-col items-center fixed left-0 top-0 bottom-0 right-0 w-full bg-black bg-opacity-60 h-full z-[100] p-4 flex pointer-events-none will-change-[opacity];

  &.modal--miss-click {
    @apply cursor-pointer;

    .modal__body {
      @apply cursor-auto;
    }
  }

  &.ReactModal__Overlay--after-open {
    pointer-events: all;
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;

    .modal__content {
      @apply opacity-100 delay-200 top-0;
    }
  }

  &.ReactModal__Overlay--before-close {
    @apply opacity-100;
    animation-name: fade-out;
    animation-delay: 0.2s;
    animation-duration: 0.2s;
    .modal__content {
      @apply duration-300 top-[1.5625rem] opacity-0 delay-0;
    }
  }

  &.full-screen {
    @apply p-0 bg-transparent;
    .modal__body {
      @apply items-stretch justify-stretch h-full max-w-full;
    }
    .modal__content {
      @apply rounded-none top-0 h-full delay-0;
    }
  }

  &.alert {
    &.ReactModal__Overlay--after-open {
      animation-duration: 100ms;
      .modal__content {
        @apply scale-100;
      }
    }

    &.ReactModal__Overlay--before-close {
      animation-delay: 0s;
      .modal__content {
        @apply scale-75 duration-100 delay-0;
      }
    }

    .modal__content {
      @apply transition-transform top-0 opacity-100 delay-0 duration-100 scale-75 will-change-[transform];
    }
  }

  &__body {
    @apply flex w-full flex-col max-h-full;
  }

  &__content {
    @apply rounded-md opacity-0 top-[1.5625rem] relative bg-white max-h-full w-full transition-[opacity,top] duration-300 delay-0 will-change-[opacity,top] overflow-hidden;
  }
}

// ALERT ICONS
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #242424;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #242424;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

// ALERT ICONS END
