.input {
  @apply min-h-[2.375rem] w-full rounded-[0.3125rem] border border-solid border-hawkesBlue bg-white px-[0.875rem] py-[0.4375rem] font-InterSemiBold text-[1rem] text-manatee shadow-input transition-colors duration-300 disabled:cursor-not-allowed disabled:opacity-50;

  &::placeholder {
    @apply text-manatee;
  }

  &:focus-within {
    @apply border-mainBlue;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #7e8299 !important;
  }

  .error-section & {
    @apply border-mainRed;
  }

  .form-section.with-icon & {
    @apply pe-[40px];
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
