// Colors
$mainColor: #3f4254;
$blackMint: #181824;
$hawkesBlue: #e1e3ea;
$mainBlue: #0d38c7;
$manatee: #7e8299;
$linkWater: #d0d5dd;
$dodgerBlue: #3e97ff;
$comet: #5e6278;
$aliceBlue: #eef6ff;
$jaguar: #1f1e2e;
$snow: #f9f9f9;
$ceruleanBlue: #1b4ae4;
$mainRed: #f1416c;
$ghostWhite: #f1f1f2;
$quartz: #d8d8e5;
$mischka: #a1a5b7;
